@model Eccomerce_Full_Stack.Models.Category

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_old.cshtml";
}

<h1>Create</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" class="flex items-center justify-center bg-white p-8">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mx-auto w-full max-w-xs">
                <label asp-for="CategoryName"  class="block text-sm font-medium leading-6 text-gray-900"></label>
                <input asp-for="CategoryName" class="block w-full min-w-0 flex-1 rounded-none rounded-r-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                <span asp-validation-for="CategoryName" class="text-red-500 text-sm"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="rounded bg-indigo-600 px-2 py-1 text-xs font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
